@font-face {
  font-family: 'Dot10';
  src: url('~@/assets/font/AFSDot10GCR.ttf') format('truetype');
}

.v-application .display-2.dot10 {
  font-family: 'Dot10', "Roboto", sans-serif !important;

}

.dot10 {
  font-family: 'Dot10', "Roboto", sans-serif !important;
}